<h1>
  Add a new remain
</h1>


<hr>

<form action="/create_remain" method="post">

  <div class="form-group">
    <label for="portion">
      Portion
    </label>

    <input type="text" id="portion" name="portion" class="form-control">
  </div>

  <div class="form-group">
    <label for="wish">
      Wish
    </label>

    <input type="text" id="wish" name="wish" class="form-control">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create remain
  </button>
</form>

<hr>

<a href="/remains">
  Go back
</a>
