<!-- Validation failure messages -->
<% if @remain.present? %>
  <% if @remain.errors.any? %>
    <% @remain.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new remain
</h1>


<hr>

<!-- Form remain start -->
<form action="/create_remain" method="post">
<!-- Form remain end -->

  <!-- Label and input for portion start -->
  <div class="form-group">
    <label for="portion">
      Portion
    </label>

    <!-- Input for portion start -->
    <input type="text" id="portion" name="portion" class="form-control" value="<%= @remain.portion %>">
    <!-- Input for portion end -->
  </div>
  <!-- Label and input for portion end -->

  <!-- Label and input for wish start -->
  <div class="form-group">
    <label for="wish">
      Wish
    </label>

    <!-- Input for wish start -->
    <input type="text" id="wish" name="wish" class="form-control" value="<%= @remain.wish %>">
    <!-- Input for wish end -->
  </div>
  <!-- Label and input for wish end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @remain.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create remain
  </button>
</form>

<hr>

<a href="/remains">
  Go back
</a>
