<form action="/create_connection_from_friend" method="post">

  <div class="form-group">
    <label for="why">
      Why
    </label>

    <input type="text" id="why" name="why" class="form-control" value="<%= @connection.why %>">
  </div>

  <div class="form-group">
    <label for="afriend_id">
      Afriend
    </label>

    <input type="text" id="afriend_id" name="afriend_id" class="form-control" value="<%= @connection.afriend_id %>">
  </div>

  <input type="hidden" name="bfriend_id" value="<%= @friend.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @connection.user_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create connection
  </button>
</form>
