<form action="/create_speaker_from_guest" method="post">

  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control" value="<%= @speaker.rank %>">
  </div>

  <input type="hidden" name="guest_id" value="<%= @guest.id %>">

  <div class="form-group">
    <label for="position">
      Position
    </label>

    <input type="text" id="position" name="position" class="form-control" value="<%= @speaker.position %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @speaker.description %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create speaker
  </button>
</form>
