<h1>
  Add a new guest
</h1>


<hr>

<form action="/create_guest" method="post">

  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <input type="text" id="first_name" name="first_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <input type="text" id="last_name" name="last_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" class="form-control">
  </div>

  <div class="form-group">
    <label for="email">
      Email
    </label>

    <input type="text" id="email" name="email" class="form-control">
  </div>

  <div class="form-group">
    <label for="phone">
      Phone
    </label>

    <input type="text" id="phone" name="phone" class="form-control">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create guest
  </button>
</form>

<hr>

<a href="/guests">
  Go back
</a>
