<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Guests

    <a data-toggle="collapse" href="#user_guests_new_form">
      Add guest
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.guests.each do |guest| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/guests/<%= guest.id %>">
          <%= guest.first_name %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
