<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Gifts

    <a data-toggle="collapse" href="#user_gifts_new_form">
      Add gift
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.gifts.each do |gift| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/gifts/<%= gift.id %>">
          <%= gift.receipient %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
