<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Services

    <a data-toggle="collapse" href="#theme_services_new_form">
      Add service
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @theme.services.each do |service| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/services/<%= service.id %>">
          <%= service.venue_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%if current_user == service.user %>
          <a href="/delete_service_from_theme/<%= service.id %>">
            Delete
          </a>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="theme_services_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "theme_templates/theme_services_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
