<h1>
  Edit theme #<%= @theme.id %>
</h1>

<hr>

<form action="/update_theme/<%= @theme.id %>" method="post">

  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control" value="<%= @theme.rank %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update theme
  </button>
</form>

<hr>

<a href="/themes">
  Go back
</a>
