<h1>
  Add a new theme
</h1>


<hr>

<form action="/create_theme" method="post">

  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create theme
  </button>
</form>

<hr>

<a href="/themes">
  Go back
</a>
