<h1>
  Add a new video
</h1>


<hr>

<form action="/create_video" method="post">

  <div class="form-group">
    <label for="upload">
      Upload
    </label>

    <input type="text" id="upload" name="upload" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control">
  </div>

  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <input type="text" id="caption" name="caption" class="form-control">
  </div>

  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create video
  </button>
</form>

<hr>

<a href="/videos">
  Go back
</a>
