<h1>
  Add a new mc
</h1>


<hr>

<form action="/create_mc" method="post">

  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control">
  </div>

  <div class="form-group">
    <label for="guest_id">
      Guest
    </label>

    <%= select_tag(:guest_id, options_from_collection_for_select(Guest.all, :id, :first_name, @mc.guest_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create mc
  </button>
</form>

<hr>

<a href="/mcs">
  Go back
</a>
