<h1>
  Add a new service
</h1>


<hr>

<form action="/create_service" method="post">

  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @service.venue_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="theme_id">
      Theme
    </label>

    <%= select_tag(:theme_id, options_from_collection_for_select(Theme.all, :id, :rank, @service.theme_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="rank">
      Rank
    </label>

    <input type="text" id="rank" name="rank" class="form-control">
  </div>

  <div class="form-group">
    <label for="casket">
      Casket
    </label>

    <input type="text" id="casket" name="casket" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create service
  </button>
</form>

<hr>

<a href="/services">
  Go back
</a>
